@charset "ISO-8859-1";

h2 {
	color: red;
}

h1 {
	color: white;
	text-align: center;
	border-bottom: 6px solid black;
}

div {
	background-color: #FFFFFF;
}

body {
	background-color: #5C4033;
}

a {
	color: black;
	font-size: 25px;
}